


  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Editer</title>
  </head>
  <body id="page-top">
    <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Apprenant Modifier
        <button (click)="removeMessage()" type="button" data-bs-dismiss="alert" aria-label="close" >X</button>
        </div>
        <!-- Page Wrapper -->
    <div id="wrapper"> 
    <app-sidebar></app-sidebar> 
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block ">
                        <img src="./assets/img/images.jpg" width="500px" height="500px">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">NOUVEAU APPRENANT!</h1>
                            </div>
                            <form class="user" [formGroup]="addStudent" (ngSubmit)="SaveData()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Nom" formControlName="nom" >
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="exampleLastName"
                                            placeholder="Prénom" formControlName="prenom">
                                    </div>
                                </div>
    
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Téléphone" formControlName="telephone">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Login" formControlName="login">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" formControlName="password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user"
                                            id="exampleRepeatPassword" placeholder="Genre" formControlName="genre">
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Adresse Email " formControlName="email">
                                </div>
                                <!-- <a href="main"  class="btn btn-primary btn-user btn-block">
                                    Enregistre
                                </a> -->
                                <button type="submit"  class="btn btn-primary btn-user btn-block">Enregistre</button>
                               
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgotpassword">Forgot Password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
  </body>
  </html>
    
    